---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-wrap items-center gap-5 sm:gap-4">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="transition-transform duration-200 hover:rotate-6"
        title={social.linkTitle}
        target="_blank"
        rel="noopener noreferrer"
      >
        <social.icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
